<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--action # voids the form action so data-th-action can be triggered-->
    <div style="text-align: center;">
        <form action="#" method="POST" data-th-action="@{/cart}" data-th-object="${item}">
            Product Name: <input type="text" data-th-field="*{name}">
            Quantity: <input type="number" data-th-field="*{quantity}" min="1" step="1">
            <button type="submit">Add</button>
        </form>
    </div>
    

    <div data-th-unless="${#lists.isEmpty(cart.items)}">
        <div data-th-each="it : ${cart.items}" data-th-object="${it}">
            <span data-th-text="*{name}"></span>
            <span data-th-text="*{quantity}"></span>
        </div>

    </div>
    
    <form action="#" method="GET" data-th-action="@{/cart/checkout}" data-th-object="${item}">
        <br>
        <button type="submit">Checkout</button>
    </form>
</body>
</html>